body {
    text-align: center;
    color: rgb(41, 12, 204);
    font-family: monospace;
}

#cabecera 
{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid coral;
    margin: 0   auto;
}

#container h1 
{
    font-size: 20px;
    text-align: center;
}



